[Unit]
Description = nasne exporter

[Service]
ExecStart = /usr/local/bin/nasne_exporter
Restart = always
Type = simple
Environment=PORT=8100

[Install]
WantedBy = multi-user.target